Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{json,yaml,yml,md,html}": ["prettier --write"]
}

fix: added forgotten validation rules params
  clips/grid-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: added forgotten validation rules
  clips/rolling-clip/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: added forgoten validation rules
  clips/tech-banner-long/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: added forgotten validation rules
  clips/summer-offers/clip/clip.ts
Due: prettier --write, eslint --cache --fix

Add files via upload
  clips/rectangle-offer-v2/assets/Vector.png
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/shape.svg
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/shape-2.svg
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/shape-3.svg
Due: none

fix: linting errors
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

refactor: removed comments
  clips/rectangle-offer-v2/clip/clip.css
Due: none

feat: the whole product image animates
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/clipIncidents.ts
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: removed the delay between product change
  clips/rectangle-offer-v2/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: changed the timings of the animation for a better look
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offer-v2/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refacotr: made the length of array dynamic
  clips/summer-offers/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: removed the scaling effect
  clips/summer-offers/clip/ClipIncidents.ts
Due: prettier --write, eslint --cache --fix

styles: refactored styles made the summer offers text behind to be equal in height made the image to stick to the left
  clips/rectangle-offers-v1/clip/ClipIncidents.ts
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
Due: prettier --write, eslint --cache --fix

refactor: changed the animation of the image
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: animated the discount wrapper and refined the timings
  clips/rectangle-offer-v3/clip/clip.ts
  clips/rectangle-offer-v3/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

feat: refined the timing of the discount animation
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added text color animation
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  clips/rectangle-offer-v3/clip/clip.ts
  clips/rectangle-offer-v3/clip/clipIncidents.ts
  clips/rectangle-offer-v3/clip/initParams.ts
  clips/rectangle-offer-v3/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: added max width to the title wrapper
  clips/rectangle-offer-v3/clip/clip.css
Due: none

styles: aligned the boxes
  clips/rectangle-offer-v3/clip/clip.css
Due: none

refactor: changed the timings in the image animation
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: made the title and subtitle animation more subtle
  clips/rectangle-offer-v3/clip/clip.css
Due: none

feat: initial configuration of luxury banner
  clips/luxury-banner/.babelrc
  clips/luxury-banner/.eslintrc
  clips/luxury-banner/README.md
  clips/luxury-banner/assets/f1.jpg
  clips/luxury-banner/assets/f1s.jpg
  clips/luxury-banner/assets/f2.jpg
  clips/luxury-banner/assets/f2s.jpg
  clips/luxury-banner/assets/f3.jpg
  clips/luxury-banner/assets/f3s.jpg
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
  clips/luxury-banner/clip/initParams.ts
  clips/luxury-banner/clip/initParamsValidationRules.ts
  clips/luxury-banner/package.json
  clips/luxury-banner/tsconfig.json
  clips/luxury-banner/types.d.ts
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

feat: initial configuration of luxury banner clip
  clips/luxury-banner/.babelrc
  clips/luxury-banner/.eslintrc
  clips/luxury-banner/README.md
  clips/luxury-banner/assets/f1.jpg
  clips/luxury-banner/assets/f1s.jpg
  clips/luxury-banner/assets/f2.jpg
  clips/luxury-banner/assets/f2s.jpg
  clips/luxury-banner/assets/f3.jpg
  clips/luxury-banner/assets/f3s.jpg
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
  clips/luxury-banner/clip/initParams.ts
  clips/luxury-banner/clip/initParamsValidationRules.ts
  clips/luxury-banner/package.json
  clips/luxury-banner/tsconfig.json
  clips/luxury-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
  clips/luxury-banner/clip/initParams.ts
  clips/luxury-banner/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

feat: created initial animation for the two background svgs
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

refactor: background svgs changed the pulsing fill svg to css keyframes and set it to infinite repeat changed the colors in init params removed unused code
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added opacity animation in the svgs at the beggining of the clip
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

feat: added html markup for the title, subtitle, text, cta
  clips/luxury-banner/clip/clip.html
Due: prettier --write

feat: markup and styles added product image and initial styles for the image
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
Due: prettier --write

styles: refactored svg waves made the svgs hide behind the other elements fixed the position of the svgs
  clips/luxury-banner/clip/clip.css
Due: none

feat: added clip path animation to the product image
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: product image animation added to combo the exit animation and changed its name added ids based on index in the product html
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added box shadow animation when the product has finished animation
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: timings and paths changed the endingPath to stretch a bit more at the bottom added some small delay between product change
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

styles: added correct fonts and font sizings to the main content
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix
