Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix: fix misspelling
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

feat: add incidents to the clip
  clips/popup-banner/clip/ClipIncidents.ts
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: remove unused constants
  clips/popup-banner/clip/ClipIncidents.ts
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: add validation rules and make some fixes
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

fix: updated params
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/images/image-1.png
  clips/popup-banner/images/image-2.png
  clips/popup-banner/images/image-3.png
  clips/popup-banner/images/image1.webp
  clips/popup-banner/images/image2.webp
  clips/popup-banner/images/image3.webp
Due: prettier --write, eslint --cache --fix

fix: optimize images
  clips/popup-banner/images/image1.webp
  clips/popup-banner/images/image2.webp
  clips/popup-banner/images/image3.webp
Due: none

chore: bump dependencies
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: remove duplicate styles
  clips/popup-banner/clip/clip.css
Due: none

deps: bump dependencies
  package.json
  packages/eslint-config-custom/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

fix: allow devserver to keep updating no matter the origin
  package.json
  packages/eslint-config-custom/package.json
  packages/server/cli/commands/start.ts
  packages/server/cli/webpack.config.ts
  packages/server/package.json
  packages/server/src/server.ts
Due: prettier --write, eslint --cache --fix

chore(popup-banner): update default product descriptions
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

ci: update pnpm to read the required version from package.json
  .github/actions/setup-pnpm/action.yml
Due: prettier --write

chore: add missing pnpm-lock
  pnpm-lock.yaml
Due: prettier --write

chore(popup-banner): create example of how new paramaters would work
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: bump mc to latest version and resolve issue with player
  .husky/pre-commit
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  packages/server/tsconfig.json
  packages/server/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write, eslint --cache --fix

fix: update mc-version
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix responsiveness, clip-path and countdown
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/images/logo.png
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/tsconfig/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

feat: add drawer and fix validation rules
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/images/image1.png
  clips/popup-banner/images/image1.webp
  clips/popup-banner/images/image2.png
  clips/popup-banner/images/image2.webp
  clips/popup-banner/images/image3.png
  clips/popup-banner/images/image3.webp
  clips/popup-banner/images/logo.png
  clips/popup-banner/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

feat: add drawer mobile
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: fix initParams
  clips/popup-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: update mc-version
  clips/popup-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: update mc-version to 9.22.1
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(popup-drawer): add drawer and fix validation rules (#177)
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/images/image1.png
  clips/popup-banner/images/image1.webp
  clips/popup-banner/images/image2.png
  clips/popup-banner/images/image2.webp
  clips/popup-banner/images/image3.png
  clips/popup-banner/images/image3.webp
  clips/popup-banner/images/logo.png
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

fix(popup-banner): cleanup countdown props and use correct name
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/package.json
Due: prettier --write, eslint --cache --fix

deps: bump dependencies
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(popup-banner): use init params for font
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

deps: bump dependencies
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: remove counter by default
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --cache --fix

refactor(popup-banner): cleanup css a bit
  clips/popup-banner/clip/clip.css
Due: none

chore: improve logo for popup-banner
  clips/popup-banner/images/logo.png
  pnpm-lock.yaml
Due: prettier --write

fix: popup banner styles
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

chore(popup-banner): flip logo back to use type img
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

fix: overflow price at popup mobile
  clips/popup-banner/clip/clip.css
Due: none

fix: change font-size & line-height from px to rem
  clips/popup-banner/clip/clip.css
Due: none

feat: change img to picture to support srcset
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: change countdown font size from px to rem
  clips/popup-banner/clip/clip.css
Due: none

Fix/sizes overflows (#179)
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: revert the fonts to pixels
  clips/popup-banner/clip/clip.css
Due: none

deps: bump dependencies
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(popup-banner): use img type for product images
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yaml,yml,md,html})
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
