Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

styles: added horizontal line and aligned the main content to the left
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
Due: prettier --write

Add files via upload
  clips/luxury-banner/assets/bg.png
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/bg.png
Due: none

styles: content wrapper wrapper the title, subtitle, text in a single wrapper made the gap between inner wrapper and cta larger made the line a bit longer
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
Due: prettier --write

Add files via upload
  clips/rectangle-offer-v2/assets/shape-3.svg
Due: none

feat: added the text animation to the subtitle
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

Add files via upload
  clips/rectangle-offer-v2/assets/shape.svg
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/Vector.png
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/shape-2.svg
Due: none

refactor: removed comment
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

Compress Images
  clips/rectangle-offer-v2/assets/bg.png
Due: none

feat: added animation to the horizontal line
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: WIP in luxury clip added overlay animation to the text each time that the product changes
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added closing animations at the end of the clip
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: refined the secondary overlays of the text
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

feat: reset animations when the clip is finished
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: refined text overlay animation timings at the end of the clip
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: made the beggining timings of the clip dynamic
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: made the hard coded timing values into variables for easier modification
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: made the image shadow animation start just a bit after the image animation has finished
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the cta button
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: circle text created circle svg made the svg have an infinite rotating animation
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: added classes to some html elements since dc did not render them without them
  clips/luxury-banner/clip/clip.html
Due: prettier --write

feat: added mask linear gradient to the sides
  clips/rectangle-offers-v1/clip/clip.css
Due: none

refactor: made the image animation simpler
  clips/rectangle-offers-v1/clip/ClipIncidents.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation for product image and product content
  clips/rectangle-offers-v1/clip/ClipIncidents.ts
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.ts
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: when product exits the scene it returns the its initial rotation
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: made infinite text bg animation
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added mask overlay to the sides of the clip
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
Due: prettier --write

feat: added overlay to the sides of the bg text
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
Due: prettier --write

feat: removed the line from the content card
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: on exit animation the cards rotate to oposite directions
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: made the linear gradients color dynamic
  clips/rectangle-offers-v1/clip/clip.css
Due: none

feat: changed the name of the clip
  clips/glassmorphism-banner/.eslintrc
  clips/glassmorphism-banner/README.md
  clips/glassmorphism-banner/clip/ClipIncidents.ts
  clips/glassmorphism-banner/clip/clip.css
  clips/glassmorphism-banner/clip/clip.html
  clips/glassmorphism-banner/clip/clip.ts
  clips/glassmorphism-banner/clip/initParams.ts
  clips/glassmorphism-banner/clip/initParamsValidationRules.ts
  clips/glassmorphism-banner/images/bike.jpg
  clips/glassmorphism-banner/images/shoes.jpg
  clips/glassmorphism-banner/images/tech.png
  clips/glassmorphism-banner/package.json
  clips/glassmorphism-banner/tsconfig.json
  clips/glassmorphism-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

refactor: removed unused code
  clips/glassmorphism-banner/clip/clip.css
  clips/glassmorphism-banner/clip/clip.html
  clips/glassmorphism-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

refactor: placed the animation durations and positions to variables for easier modification
  clips/glassmorphism-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

Add files via upload
  clips/rectangle-offer-v2/assets/shape.png
Due: none

Delete clips/rectangle-offer-v2/assets/shape.png
  clips/rectangle-offer-v2/assets/shape.png
Due: none

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yaml,yml,md,html})
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
