Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

feat: WIP initial changes changed the clips width and height removed the template init params with better ones added extra styles to the clips container
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.ts
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added bacground text and the initial styles for them
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added main image
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
Due: prettier --write

styles: added styles to the layout position the product image, product name, product cta to the correct positions
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: created the image animation
  clips/rectangle-offers-v1/clip/ClipIncidents.ts
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: created show and hide animation for text
  clips/rectangle-offers-v1/clip/ClipIncidents.ts
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: created animation for showing and hiding text
  clips/rectangle-offers-v1/clip/clip.css
Due: none

feat: added show and hide animation to the cta tezt
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the arrow svg
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/clip.html
Due: prettier --write

fix: fixed guid issue on package.json
  clips/summer-offers/package.json
Due: prettier --write

fix: timeline NaN issues changed the dynamic class names to ids since they were not being applied when using classes
  clips/summer-offers/clip/clip.html
  clips/summer-offers/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added font color
  clips/rectangle-offers-v1/clip/clip.css
  clips/rectangle-offers-v1/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added validation params
  clips/rectangle-offers-v1/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

styles: applied font color to product name
  clips/rectangle-offers-v1/clip/clip.css
Due: none

styles: added font color and connecting colors to init params
  clips/summer-offers/clip/clip.css
  clips/summer-offers/clip/clip.html
  clips/summer-offers/clip/initParams.ts
  clips/summer-offers/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

styles: added max widths to text containers
  clips/summer-offers/clip/clip.css
Due: none

refactor: changed top animations to translate for smoother performance
  clips/summer-offers/clip/ClipIncidents.ts
  clips/summer-offers/clip/clip.css
  clips/summer-offers/clip/clip.ts
Due: prettier --write, eslint --cache --fix

styles: made the styles more dynamic
  clips/summer-offers/clip/clip.css
Due: none

fix: linting errors
  clips/rectangle-offer-v2/.babelrc
  clips/rectangle-offer-v2/.eslintrc
  clips/rectangle-offer-v2/README.md
  clips/rectangle-offer-v2/assets/f1.jpg
  clips/rectangle-offer-v2/assets/f1s.jpg
  clips/rectangle-offer-v2/assets/f2.jpg
  clips/rectangle-offer-v2/assets/f2s.jpg
  clips/rectangle-offer-v2/assets/f3.jpg
  clips/rectangle-offer-v2/assets/f3s.jpg
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/initParams.ts
  clips/rectangle-offer-v2/clip/initParamsValidationRules.ts
  clips/rectangle-offer-v2/package.json
  clips/rectangle-offer-v2/tsconfig.json
  clips/rectangle-offer-v2/types.d.ts
Due: prettier --write, eslint --cache --fix

feat: added the clipped image
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/initParams.ts
  clips/rectangle-offer-v2/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

fix: build errors
  clips/rectangle-offer-v2/clip/initParams.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

styles: WIP in layout
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.html
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/clipIncidents.ts
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added show and hide animation on the text
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/clipIncidents.ts
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the horizontal line
  clips/rectangle-offer-v2/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the button and refined the timings of all the animations
  clips/rectangle-offer-v2/clip/clip.ts
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: styling upgrades
  clips/rectangle-offer-v2/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

fix: forgot to add validation params to the clip object
  clips/rectangle-offers-v1/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added secondary color and fixed some forgotten css vars
  clips/rectangle-offer-v2/clip/clip.css
  clips/rectangle-offer-v2/clip/initParams.ts
  clips/rectangle-offer-v2/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the title
  clips/rectangle-offer-v2/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: initialized clip
  clips/rectangle-offer-v3/.babelrc
  clips/rectangle-offer-v3/.eslintrc
  clips/rectangle-offer-v3/README.md
  clips/rectangle-offer-v3/assets/f1.jpg
  clips/rectangle-offer-v3/assets/f1s.jpg
  clips/rectangle-offer-v3/assets/f2.jpg
  clips/rectangle-offer-v3/assets/f2s.jpg
  clips/rectangle-offer-v3/assets/f3.jpg
  clips/rectangle-offer-v3/assets/f3s.jpg
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  clips/rectangle-offer-v3/clip/clip.ts
  clips/rectangle-offer-v3/clip/clipIncidents.ts
  clips/rectangle-offer-v3/clip/initParams.ts
  clips/rectangle-offer-v3/clip/initParamsValidationRules.ts
  clips/rectangle-offer-v3/package.json
  clips/rectangle-offer-v3/tsconfig.json
  clips/rectangle-offer-v3/types.d.ts
Due: prettier --write, eslint --cache --fix

feat: runned pnpm i and change package json
  clips/rectangle-offer-v3/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: added correct init params and validation rules
  clips/rectangle-offer-v3/clip/initParams.ts
  clips/rectangle-offer-v3/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

fix: linting errors
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  clips/rectangle-offer-v3/clip/clip.ts
  clips/rectangle-offer-v3/clip/initParams.ts
  clips/rectangle-offer-v3/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

feat: WIP in layout styles
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

styles: finilized design layout
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
Due: prettier --write

feat: added animation in image and title wrapper
  clips/rectangle-offer-v3/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the discount wrapper
  clips/rectangle-offer-v3/clip/clip.css
  clips/rectangle-offer-v3/clip/clip.html
  clips/rectangle-offer-v3/clip/clip.ts
  clips/rectangle-offer-v3/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

fix: added forgotten validation rules params
  clips/grid-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yaml,yml,md,html})
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
