Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

fix: revert the fonts to pixels
  clips/popup-banner/clip/clip.css
Due: none

fix: revert the fonts to pixels (#182)
  clips/popup-banner/clip/clip.css
Due: none

fix: fix image dimensions and positioning for all sizes
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: fix image dimensions and positioning for all sizes (#183)
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: set fixed height for product-details-wrapper to ensure alignment
  clips/popup-banner/clip/clip.css
Due: none

fix: set fixed height for product-details-wrapper to ensure alignment (#184)
  clips/popup-banner/clip/clip.css
Due: none

deps: bump dependencies
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/glassmorphism-banner/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/popup-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-banner/package.json
  clips/square-offers-bg1-banner/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/package.json
  clips/summer-offers/package.json
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  package.json
  packages/effect-library/package.json
  packages/eslint-config-custom/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write

deps: bump dependencies
  clips/popup-banner/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: Update countdown incidents to support new Countdown plugin version
  clips/popup-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: add fallback id for countdown incidents
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: Update countdown incidents to support new Countdown plugin version (#186)
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: countdown alignment for drawers
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

fix: countdown alignment for drawers (#187)
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yaml,yml,md,html})
  eslint --cache --fix: any of: *.{js,ts,jsx,tsx}
