Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{json,yaml,yml,md,html}": ["prettier --write"]
}

chore: move readmes
  README.md
  clips/landing-page-v2/README.md
  clips/landing-page/README.md
Due: prettier --write

chore: fix img optim action
  .github/workflows/img-optim.yml
Due: prettier --write

Compress Images
  clips/landing-page-v2/images/bike.jpg
  clips/landing-page-v2/images/shoes.jpg
  clips/landing-page-v2/images/tech.png
  clips/landing-page/assets/f1s.jpg
  clips/landing-page/assets/f2s.jpg
  clips/landing-page/assets/f3s.jpg
Due: none

docs: add clip creation guide
  README.md
Due: prettier --write

fix: fix img imports
  clips/landing-page-v2/clip/initParams.ts
  clips/landing-page/clip/clip.css
Due: prettier --write, eslint --cache --fix

ci: add renovate
  renovate.json
Due: prettier --write

feat: extract server
  clips/landing-page-v2/.babelrc
  clips/landing-page-v2/clip/clip.ts
  clips/landing-page-v2/package.json
  clips/landing-page-v2/server/id.js
  clips/landing-page-v2/server/index.css
  clips/landing-page-v2/server/index.ts
  clips/landing-page-v2/server/webpack.config.js
  clips/landing-page/clip/clip.ts
  clips/landing-page/package.json
  clips/landing-page/server/id.js
  clips/landing-page/server/index.css
  clips/landing-page/server/index.html
  clips/landing-page/server/index.ts
  clips/landing-page/server/scripts/initParamsApply.ts
  clips/landing-page/server/scripts/pathHandler.ts
  clips/landing-page/server/webpack.config.js
  package.json
  packages/server/.eslintrc.json
  packages/server/cli/commands/start.ts
  packages/server/cli/index.ts
  packages/server/cli/public/index.html
  packages/server/cli/webpack.config.ts
  packages/server/package.json
  packages/server/src/scripts/initParamsApply.ts
  packages/server/src/scripts/pathHandler.ts
  packages/server/src/server.ts
  packages/server/src/types.d.ts
  packages/server/tsconfig.json
  packages/server/tsup.config.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

feat: add wave offers banner
  clips/landing-page/package.json
  clips/wave-offers-banner/.eslintrc
  clips/wave-offers-banner/README.md
  clips/wave-offers-banner/clip/assets/pr1.png
  clips/wave-offers-banner/clip/assets/pr2.png
  clips/wave-offers-banner/clip/assets/pr3.png
  clips/wave-offers-banner/clip/assets/w1.png
  clips/wave-offers-banner/clip/assets/w2.png
  clips/wave-offers-banner/clip/assets/w3.png
  clips/wave-offers-banner/clip/clip.css
  clips/wave-offers-banner/clip/clip.html
  clips/wave-offers-banner/clip/clip.ts
  clips/wave-offers-banner/clip/effects/itemsCombo.ts
  clips/wave-offers-banner/clip/initParams.ts
  clips/wave-offers-banner/clip/initParamsValidationRules.ts
  clips/wave-offers-banner/package.json
  clips/wave-offers-banner/tsconfig.json
  clips/wave-offers-banner/types.d.ts
  packages/effect-library/src/effects.ts
  packages/effect-library/src/fadeOut.ts
  packages/effect-library/src/index.ts
  packages/effect-library/src/scaleBig.ts
  packages/effect-library/src/type.ts
  packages/server/cli/index.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

create abstruct clip
  clips/abstracts/.eslintrc
  clips/abstracts/README.md
  clips/abstracts/clip/ClipIncidents.ts
  clips/abstracts/clip/clip.css
  clips/abstracts/clip/clip.html
  clips/abstracts/clip/clip.ts
  clips/abstracts/clip/initParams.ts
  clips/abstracts/clip/initParamsValidationRules.ts
  clips/abstracts/images/smartwatch.png
  clips/abstracts/package.json
  clips/abstracts/tsconfig.json
  clips/abstracts/types.d.ts
  packages/effect-library/src/index.ts
  packages/effect-library/src/topMoveCombo.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

fix: fix lock file
  pnpm-lock.yaml
Due: prettier --write

fix:remove unsused inports
  clips/abstracts/clip/clip.ts
Due: prettier --write, eslint --cache --fix

tech-banner
  clips/tech-banner/.eslintrc
  clips/tech-banner/README.md
  clips/tech-banner/clip/clip.css
  clips/tech-banner/clip/clip.html
  clips/tech-banner/clip/clip.ts
  clips/tech-banner/clip/effects/imageCombo.ts
  clips/tech-banner/clip/effects/nameCombo.ts
  clips/tech-banner/clip/effects/polCombo.ts
  clips/tech-banner/clip/initParams.ts
  clips/tech-banner/clip/initParamsValidationRules.ts
  clips/tech-banner/images/laptop.png
  clips/tech-banner/images/phone.png
  clips/tech-banner/images/watch.png
  clips/tech-banner/package.json
  clips/tech-banner/tsconfig.json
  clips/tech-banner/types.d.ts
Due: prettier --write, eslint --cache --fix

create clip
  clips/rolling-clip/.eslintrc
  clips/rolling-clip/README.md
  clips/rolling-clip/clip/ClipIncidents.ts
  clips/rolling-clip/clip/clip.css
  clips/rolling-clip/clip/clip.html
  clips/rolling-clip/clip/clip.ts
  clips/rolling-clip/clip/initParams.ts
  clips/rolling-clip/clip/initParamsValidationRules.ts
  clips/rolling-clip/images/smartwatch.png
  clips/rolling-clip/package.json
  clips/rolling-clip/tsconfig.json
  clips/rolling-clip/types.d.ts
  packages/effect-library/src/helpers.ts
  packages/effect-library/src/index.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

fix: remove unused import and fix misspelling
  clips/rolling-clip/clip/clip.css
  clips/rolling-clip/clip/clip.html
  clips/rolling-clip/clip/clip.ts
Due: prettier --write, eslint --cache --fix

create watch-banner
  clips/watch-banner/.eslintrc
  clips/watch-banner/README.md
  clips/watch-banner/clip/ClipIncidents.ts
  clips/watch-banner/clip/clip.css
  clips/watch-banner/clip/clip.html
  clips/watch-banner/clip/clip.ts
  clips/watch-banner/clip/initParams.ts
  clips/watch-banner/clip/initParamsValidationRules.ts
  clips/watch-banner/package.json
  clips/watch-banner/tsconfig.json
  clips/watch-banner/types.d.ts
Due: prettier --write, eslint --cache --fix

add lock file
  pnpm-lock.yaml
Due: prettier --write

fix: add lock file
  pnpm-lock.yaml
Due: prettier --write

feat: create grid banner
  clips/grid-banner/.eslintrc
  clips/grid-banner/README.md
  clips/grid-banner/clip/ClipIncidents.ts
  clips/grid-banner/clip/clip.css
  clips/grid-banner/clip/clip.html
  clips/grid-banner/clip/clip.ts
  clips/grid-banner/clip/initParams.ts
  clips/grid-banner/clip/initParamsValidationRules.ts
  clips/grid-banner/package.json
  clips/grid-banner/tsconfig.json
  clips/grid-banner/types.d.ts
  packages/effect-library/src/floating.ts
  packages/effect-library/src/translateXY.ts
  packages/effect-library/src/wave.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

extra changes
  clips/grid-banner/clip/clip.html
  clips/grid-banner/clip/clip.ts
  clips/grid-banner/clip/initParams.ts
  clips/grid-banner/clip/initParamsValidationRules.ts
  packages/effect-library/src/index.ts
  packages/effect-library/src/leftMoveCombo.ts
  packages/effect-library/src/translateXY.ts
Due: prettier --write, eslint --cache --fix

fix lock file
  pnpm-lock.yaml
Due: prettier --write

fix:remove unused imports
  clips/watch-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

create tech clip
  clips/tech-banner/.eslintrc
  clips/tech-banner/README.md
  clips/tech-banner/clip/clip.css
  clips/tech-banner/clip/clip.html
  clips/tech-banner/clip/clip.ts
  clips/tech-banner/clip/effects/imageCombo.ts
  clips/tech-banner/clip/effects/nameCombo.ts
  clips/tech-banner/clip/effects/polCombo.ts
  clips/tech-banner/clip/initParams.ts
  clips/tech-banner/clip/initParamsValidationRules.ts
  clips/tech-banner/images/laptop.png
  clips/tech-banner/images/phone.png
  clips/tech-banner/images/watch.png
  clips/tech-banner/package.json
  clips/tech-banner/tsconfig.json
  clips/tech-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

remove unused imports
  clips/tech-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

fix: finish grid-banner
  clips/grid-banner/clip/ClipIncidents.ts
  clips/grid-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

create new clip
  clips/red-sun-long/.eslintrc
  clips/red-sun-long/README.md
  clips/red-sun-long/clip/ClipIncidents.ts
  clips/red-sun-long/clip/clip.css
  clips/red-sun-long/clip/clip.html
  clips/red-sun-long/clip/clip.ts
  clips/red-sun-long/clip/initParams.ts
  clips/red-sun-long/clip/initParamsValidationRules.ts
  clips/red-sun-long/images/smartwatch.png
  clips/red-sun-long/package.json
  clips/red-sun-long/tsconfig.json
  clips/red-sun-long/types.d.ts
  package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

create abstract-offer-banner
  clips/abstract-offers-banner/.eslintrc
  clips/abstract-offers-banner/README.md
  clips/abstract-offers-banner/clip/ClipIncidents.ts
  clips/abstract-offers-banner/clip/clip.css
  clips/abstract-offers-banner/clip/clip.html
  clips/abstract-offers-banner/clip/clip.ts
  clips/abstract-offers-banner/clip/initParams.ts
  clips/abstract-offers-banner/clip/initParamsValidationRules.ts
  clips/abstract-offers-banner/images/bike.jpg
  clips/abstract-offers-banner/images/shoes.jpg
  clips/abstract-offers-banner/images/tech.png
  clips/abstract-offers-banner/package.json
  clips/abstract-offers-banner/tsconfig.json
  clips/abstract-offers-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

fix: remove unused imports
  clips/abstract-offers-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

create grid banner
  clips/grid-banner/.eslintrc
  clips/grid-banner/README.md
  clips/grid-banner/clip/clip.css
  clips/grid-banner/clip/clip.html
  clips/grid-banner/clip/clip.ts
  clips/grid-banner/clip/initParams.ts
  clips/grid-banner/clip/initParamsValidationRules.ts
  clips/grid-banner/package.json
  clips/grid-banner/tsconfig.json
  clips/grid-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix
