Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{json,yaml,yml,md,html}": ["prettier --write"]
}

Add files via upload
  clips/rectangle-offer-v2/assets/shape-2.png
Due: none

Add files via upload
  clips/rectangle-offer-v2/assets/shape.svg
Due: none

feat: initial commit of new clip
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

Delete clips/rectangle-offer-v2/assets/shape.svg
  clips/rectangle-offer-v2/assets/shape.svg
Due: none

Delete clips/rectangle-offer-v2/assets/shape-2.png
  clips/rectangle-offer-v2/assets/shape-2.png
Due: none

feat: added line draw animation to the circles
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

feat: changed the layout to focus on the product image
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

refactor: cleaned unused code
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/initParams.ts
Due: prettier --write, eslint --cache --fix

feat: added discount animation
  clips/luxury-banner/clip/clip.ts
Due: prettier --write, eslint --cache --fix

feat: added animation to the circles and to the discount
  clips/luxury-banner/clip/clip.css
  clips/luxury-banner/clip/clip.html
  clips/luxury-banner/clip/clip.ts
  clips/luxury-banner/clip/clipIncidents.ts
Due: prettier --write, eslint --cache --fix

Compress Images
  clips/rectangle-offer-v2/assets/bg.png
Due: none

Update README.md
  README.md
Due: prettier --write

fix: add a create clip command
  create-clip.sh
  package.json
Due: prettier --write

fix: upgrade mc and player
  clips/abstract-offers-banner/package.json
  clips/abstracts/package.json
  clips/dc-logo/package.json
  clips/grid-banner/package.json
  clips/landing-page-v2/package.json
  clips/landing-page/package.json
  clips/luxury-banner/package.json
  clips/rectangle-offer-v3/package.json
  clips/red-sun-long/package.json
  clips/rolling-clip/package.json
  clips/square-offers-bg2-banner/package.json
  clips/stripe-video/.eslintrc
  clips/stripe-video/README.md
  clips/stripe-video/clip/ClipIncidents.ts
  clips/stripe-video/clip/clip.css
  clips/stripe-video/clip/clip.html
  clips/stripe-video/clip/clip.ts
  clips/stripe-video/clip/initParams.ts
  clips/stripe-video/clip/initParamsValidationRules.ts
  clips/stripe-video/images/bike.jpg
  clips/stripe-video/images/shoes.jpg
  clips/stripe-video/images/tech.png
  clips/stripe-video/package.json
  clips/stripe-video/tsconfig.json
  clips/stripe-video/types.d.ts
  clips/tech-banner-long/package.json
  clips/tech-banner/package.json
  clips/watch-banner/package.json
  clips/wave-offers-banner/package.json
  packages/effect-library/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix

feat add files
  clips/stripe-video/assets/background.mp4
  clips/stripe-video/clip/clip.html
  clips/stripe-video/clip/initParams.ts
  clips/stripe-video/images/bike.jpg
  clips/stripe-video/images/shoes.jpg
  clips/stripe-video/images/tech.png
Due: prettier --write, eslint --cache --fix

fix: any issues
  clips/stripe-video/clip/clip.css
  clips/stripe-video/clip/clip.html
  clips/stripe-video/clip/clip.ts
  clips/stripe-video/clip/initParams.ts
  clips/stripe-video/clip/initParamsValidationRules.ts
  packages/server/src/server.ts
Due: prettier --write, eslint --cache --fix
