Repository donkeyclip/clips: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["prettier --write", "eslint --cache --fix"],
  "*.{json,yaml,yml,md,html}": ["prettier --write"]
}

fix: add preview images
  clips/abstract-offers-banner/preview.png
  clips/abstracts/preview.png
  clips/grid-banner/preview.png
  clips/landing-page-v2/preview.png
  clips/luxury-banner/preview.png
  clips/rectangle-offer-v3/preview.png
  clips/rolling-clip/preview.png
  clips/square-offers-banner/preview.png
  clips/square-offers-bg1-banner/preview.png
  clips/square-offers-bg2-banner/preview.png
  clips/stripe-video/preview.png
  clips/tech-banner-long/preview.png
  clips/tech-banner/preview.png
  clips/watch-banner/preview.png
Due: none

fix: add pnpm lock
  pnpm-lock.yaml
Due: prettier --write

fix: add initparams
  clips/abstract-offers-banner/clip/clip.ts
  clips/abstracts/clip/clip.html
  clips/abstracts/clip/clip.ts
  clips/abstracts/clip/initParams.ts
  clips/abstracts/clip/initParamsValidationRules.ts
Due: prettier --write, eslint --cache --fix

Compress Images
  clips/abstract-offers-banner/preview.png
  clips/abstracts/preview.png
  clips/landing-page-v2/preview.png
  clips/rolling-clip/preview.png
  clips/square-offers-bg1-banner/preview.png
  clips/tech-banner-long/preview.png
  clips/watch-banner/preview.png
Due: none

feat: initialize popup banner
  clips/popup-banner/.eslintrc
  clips/popup-banner/README.md
  clips/popup-banner/clip/ClipIncidents.ts
  clips/popup-banner/clip/clip.css
  clips/popup-banner/clip/clip.html
  clips/popup-banner/clip/clip.ts
  clips/popup-banner/clip/initParams.ts
  clips/popup-banner/clip/initParamsValidationRules.ts
  clips/popup-banner/images/image-1.png
  clips/popup-banner/images/image-2.png
  clips/popup-banner/images/image-3.png
  clips/popup-banner/package.json
  clips/popup-banner/preview.png
  clips/popup-banner/tsconfig.json
  clips/popup-banner/types.d.ts
  pnpm-lock.yaml
Due: prettier --write, eslint --cache --fix
